body {
    padding-top: 50px;
    background-color: #f8f9fa;
}

.navbar {
    background-color: #343a40;
}

.navbar .navbar-brand {
    margin-left: 30px;
    margin-top: 15px;
}

.hero {
    position: relative;
    height: 200px;
    background-color: #343a40;
    color: #fff;
    text-align: center;
    display: flex;
    align-items: center;
}

.hero h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.hero p {
    font-size: 1.2em;
}

#indicatore-caricamento {
    display: none;
}

.list-group-item a {
    text-decoration: none;
}

.list-group-item a:hover {
    text-decoration: underline;
}

#elenco-news {
    max-height: 400px;
    overflow-y: auto;
}